:root {
  --frame-bg-color: lightBlue;
}

.App > .banner {
  background-color: var(--frame-bg-color);
  min-height: 1ex;
  display: flex;
  justify-content: space-between;
}

.App > .banner > * {
  text-align: center;
}
.App > .banner > *:last-child {
  text-align: right;
}
.App > .banner > *:first-child {
  text-align: left;
}

.App > main {
  min-height: 20em;
}

table.DatasetDump{
  font-size: 50%;
  font-family: monospace;
}

table.DatasetDump td {
  max-width: 50em;
}
